block body
  h1 Open Impact Project
  br
  h3 Create Org
  form(method="post" action="/org")
    input(name="orgName" placeholder="Org Name")
    select(name="orgType")
        option(value="company") Company
        option(value="fundManager") Fund Manager
        option(value="nonProfit") Non Profit
    button(type="submit") Create Org
    
  br
  h3 Add Metric To Org
  form(method="post" action="/metrics")
    input(name="orgAPIKey" placeholder="Org API Key")
    select(name="metricId")
        option(value="55aead320cd16ba24fcb4857") Client Individuals: Rural
        option(value="55aead320cd16ba24fcb485c") Client Individuals: Children/Adolescents
        option(value="55aead320cd16ba24fcb4866") Client Households: Low Income
    button(type="submit") Add Metric To Org
    
  br
  h3 Create Report (this no longer works b/c the node code now expects an array of metrics)
  form(method="post" action="/report/lel9p64")
    select(name="metricId")
        option(value="55aead320cd16ba24fcb4857") Client Individuals: Rural
        option(value="55aead320cd16ba24fcb485c") Client Individuals: Children/Adolescents
        option(value="55aead320cd16ba24fcb4866") Client Households: Low Income
    input(name="metricValue" placeholder="Metric Value")
    input(name="note" placeholder="Note")
    button(type="submit") Create Report
  br
  h3 API Documentation
  ul
    li GET    /metrics/            | Returns a list of all IRIS metrics and basic data for each
    li POST   /metrics/            | Adds a Metric to an Org. Body of POST must contain "orgAPIKey" and "metricId"
    li GET    /org/                | Returns a list of all Orgs
    li POST   /org/                | Creates a new Org. Body of POST must contain "orgId", "orgName" and "orgType". Also generates Org's API Key.
    li DELETE /org/:id/            | Deletes an Org.
    li GET    /report/:reportId/   | Returns a report using the report's ID.
    li GET    /reportList/:apiKey/ | Returns a list of all Reports for a given Org using the Org's API Key.
    li POST   /report/:apiKey/     | Creates a report for an Org. Body must contain "metricId" and "metricValue" and may contain "note"
    li DELETE /report/:reportId/   | Deletes a report and removes it from the Org's array of reports.